<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>API port Russell</title>
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li class="navbar-li_left"><a href="/admin/menu">Accueil</a></li>
                <li class="navbar-li_center"><a href="/admin/user">Utilisateurs</a></li>
                <li class="navbar-li_center"><a href="/admin/reservation">Réservations</a></li>
                <li class="navbar-li_right"><a href="/admin/catways">Catways</a></li>
            </ul>
            <div class="identifiant">
                <p><%= user.email %></p>
                <p><%= user.name %></p>
            </div>
            <button id="logoutButton">Déconnexion</button>
        </div>
    </header>
    <main>
        <h1>Données utilisateurs</h1>

        <form action="/signup" method="POST" id="form_signup">
            <fieldset>
                <p>veuillez renseigner tout les champs.</p>
                <legend>inscription</legend>
                <label for="signup_name">Nom :</label>
                <input type="text" id="signup_name" name="name" placeholder="Nom" autocomplete="current-password" required>
                <label for="signup_firstname">Prénom :</label>
                <input type="text" id="signup_firstname" name="firstname" placeholder="Prénom" autocomplete="current-password" required>
    
                <label for="signup_email">veuillez renseigner votre adresse mail :</label>
                <input type="email" id="signup_email" name="email" id="signup_email" placeholder="adresse@mail.com" autocomplete="current-password" required>
                <label for="current-password">mot de passe :</label>
                <input type="password" name="password" id="current-password" placeholder="Password" autocomplete="current-password" required>
                <div class="secret_question">
                    <small>* en cas de perte du mot de passe veuillez renseigner une question secrete</small>
                    <label for="signup_question">question secrete</label>
                    <select name="question" id="question" required>
                        <option value="" disabled selected>Choisissez une question</option>
                        <option value="secret_color">quel est votre couleur préféré ?</option>
                        <option value="secret_car">quel est la marque de votre premier véhicule ?</option>
                        <option value="secret_animal">quel est le nom de votre premier animal ?</option>
                        <option value="secret_name">quel est le nom de votre mère ?</option>
                    </select>
                        <label for="response">inscrivez votre réponse ici</label>
                        <input type="text" name="response" id="response" placeholder="votre réponse" required>
                </div>
                <div class="btn_submit_reset">
                    <input type="submit" value="Réserver" id="btn_submit">
                    <input type="reset" value="Effacer" id="btn_reset">
                </div>
                
            </fieldset>
        </form>
    </main>
    <footer>
        
    </footer>
    <!-- Script pour gérer la déconnexion -->
    <script>
        document.getElementById('logoutButton').addEventListener('click', function() {
            window.location.href = '/logout'; // Redirige vers la route de déconnexion
        });
    </script>
</body>
</html>