<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <title>API port Russell</title>
</head>

<body>
    <header>
        <div class="navbar_public">
            <ul>
                <li class="navbar-li_left"><a href="/login">Se connecter</a></li>
                <li class="navbar-li_right"><a href="/signup">S'inscrire</a></li>
            </ul>
        </div>
    </header>
    <main>
        <h1>Bienvenue sur l'API de Gestion des Catways</h1>
        <div class="homeText">


            <p>
                Cette API a été créée pour aider le Port de Plaisance de Russell à gérer efficacement les réservations
                des catways. Avec cette solution, la capitainerie peut centraliser les informations, garantir une
                gestion fluide
                et offrir un meilleur service à ses plaisanciers.
            </p>
            <p>
                Utilisez notre plateforme pour soumettre facilement vos demandes de réservation en ligne et assurez-vous
                d'obtenir un emplacement pour votre bateau.
            </p>
        </div>

    </main>
    <footer>
        <ul>
            <li><a href="/docs/global.html">Voir la documentation Global</a></li>
            <li><a href="/docs/db_mongo.js.html">Voir la documentation DbMongo</a></li>
            <li><a href="/docs/index.html">Voir la documentation Index</a></li>
        </ul>
        <p class="copyright">&copy; 2025 Port de Plaisance de Russell. Tous droits réservés.</p>

    </footer>

</body>

</html>