<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <title>API port Russell</title>
</head>

<body>
    <header>
        <div class="navbar_public">
            <ul>
                <li class="navbar-li_left"><a href="/">Retourner a l'acceuil</a></li>
                <li class="navbar-li_right"><a href="/signup">S'inscrire</a></li>
            </ul>
        </div>
    </header>
    <main>
        <h1>Connection</h1>
        <form action="/login" method="post">
            <fieldset>
                <legend>Connexion</legend>
                <label for="email">Veuillez renseigner votre adresse mail :</label>
                <input type="text" id="email" name="email" placeholder="adresse@mail.com" autocomplete="email" required>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="mot de passe"
                    autocomplete="current-password" required>
                <small>* Le mot de passe doit contenir au moins 8 caractères</small>
                <div class="btn_submit_reset">
                    <input type="submit" id="btn_submit" value="se connecter">
                    <input type="reset" id="btn_reset" value="effacer">
                </div>

                <% if (errorMessage) { %>
                    <p style="color:red;">
                        <%= errorMessage %>
                    </p>
                    <% } %>
            </fieldset>
            <a href="/reset">Mot de passe oublié ?</a>
        </form>

    </main>
    <footer>
        <ul>
            <li><a href="/docs/global.html">Voir la documentation Global</a></li>
            <li><a href="/docs/db_mongo.js.html">Voir la documentation DbMongo</a></li>
            <li><a href="/docs/index.html">Voir la documentation Index</a></li>
        </ul>
        <p class="copyright">&copy; 2025 Port de Plaisance de Russell. Tous droits réservés.</p>
    </footer>
</body>