* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(217, 217, 217, 0.589);
}

header {
    width: 100%;
}

main {
    border-left: double 4px blueviolet;
    border-right: double 4px blueviolet;
    min-height: 560px;
    width: 1200px;
    margin: auto;
    padding: 50px 50px 50px 50px;
    background-color: rgb(163, 173, 229);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* text introduction */

.homeText {
    margin: auto;
    padding: 20px;
    border: 2px double blue;
    text-align: center;
    font-size: medium;
    font-weight: 300;
    line-height: 25px;
    width: 550px;
    height: auto;
}

.homeText h1 {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


footer {
    margin: auto;
    border-top: double 4px rgb(206, 163, 247);
    background-color: rgb(103, 103, 103);
    min-height: 70px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer li {
    list-style-type: none;
    width: 20%;
    height: 25px;
}

footer a {
    width: 100%;
    color: aliceblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(240, 248, 255, 0.699);
}

a {
    color: black;
}



/* errorMessage / successMessage */



.paramsMessage {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5px;
}